/* ------------------------------------------------------------ */
/* ------------------------ Quienes Somos --------------------- */
/* ------------------------------------------------------------ */

header .textos {
    z-index: 2;
    text-align: center;
    margin: auto;
}

header .titulo {
    font-size: 85px;
}

header .subtitulo {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 20px;
}

.btn {
    width: 150px;
}

#equipo {
    width: 100%;
    margin-top: 100px;
}

.eqp {
    width: 100%;
    height: 500px;
    margin-top: 100px;
    float: right;
}

.img-eqp img {
    float: left;
    width: 500px;
    height: 400px;
    margin-right: 50px;
}

.txt {
    float: right;
    height: 400px;
    text-align: justify;
}

.txt h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.txt p {
    float: right;
    margin-right: 16px;
}

#logros {
    width: 90%;
    margin: auto;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

#logros p {
    font-size: 10px;
    width: 200px;
    height: 100px;
    display: block;
    margin: 0px 47px;
    text-align: center;
}

.fa-award,
.fa-sitemap,
.fa-chart-column,
.fa-users {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 24px;
}

.abaut {
    width: 100%;
    height: 250px;
    margin-top: 300px;
    display: flex;
    align-items: center;
    text-align: center;
}

.abaut h2 {
    font-size: 28px;
    margin-bottom: 16px;
}

.abaut p {
    width: 70%;
    margin-left: 150px;
}

.img {
    display: block;
    height: 500px;
    padding: 50px;
    object-fit: cover;
    align-items: center;
    margin-right: 50px;
    animation: moverDerecha 2s ease-in;
}


.eqp2 {
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
    float: left;
}

.img-eqp2 img {
    float: right;
    width: 500px;
    height: 400px;
    margin-top: 100px;
    margin-right: 70px;
}

.txt2 {
    width: 50%;
    float: left;
    height: 400px;
    margin-left: 100px;
    margin-top: 80px;
}

.txt2 h2 {
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.txt2 p {
    width: 80%;
    text-align: justify;
}


.empresas{
    width: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.empresas h3 {
    font-weight: 600;
    color: #451d58;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}


/* ------------------------------------------------------------ */
/* ---------------------- SLAIDE INFINITO --------------------- */
/* ------------------------------------------------------------ */

.slaider{
    width: 90%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slaider .slaide-track {
    display: flex;
    animation: scroll 5s linear infinite;
    width: calc(200px * 6);
}

.slaider .slaide {
    width: 200px;
}

.slaider .slaide img {
    width: 100%;
    height: 200px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-200px *3));
    }
}





.slaider2{
    width: 50%;
    height: auto;
    margin-left: 550px;
    overflow: hidden;
}

.slaider2 .slaide-track2 {
    display: flex;
    animation: scroll 8s linear infinite;
    width: calc(200px * 10);
}

.slaider2 .slaide2 {
    width: 70px;
}

.slaider2 .slaide2 img {
    width: 100%;
    height: 60px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-200px *5));
    }
}


