@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #c0ceff;
}


#contacto{
    width: 1100px;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #0e135e;

}
    #contacto form{
        width: 550px;
        margin: auto;
    }
    #contacto form input,
    #contacto form textarea{
        width: 100%;
        padding: 10px;
        margin: 8px 0px;
        font-family: Raleway, sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: #0e0957;
        border: 1px solid #ffffff;
        background-color: #ffffff;
        border-radius: 5px;
    }
    /* texto del placeholder */
    #contacto form input::placeholder,
    #contacto form textarea::placeholder{
        color: #161253;
    }
    #contacto form textarea{
        height: 152px;
        resize: none;
    }

    #contacto button{
        /*display: block;*/
        width: 212px;
        padding: 8px 0px;
        border: 1px solid #ffffff;
        border-radius: 8px;
        color: #142572;
        font-family: Raleway, sans-serif;
        font-weight: 300;
        font-size: 16px;
        color: #0f1057;
        transition: 500ms;
        cursor: pointer;
    }

    #contacto button:hover{
        color: #fff;
        background-color: #131e5f;
    }

    #mensajes{
        margin-top: 12px;
    }
        #mensajes span{
            display: block;
            font-size: 18px;
            color: #fff;
        }
/* mensaje luego de enviar el email */
    #mensaje{
        display: block;
        margin: auto;
        color: #fff;
        font-size: 20px;
    }
        

    #atras{
        margin: auto;
        width: 1100px;
        background-color: #0e135e;
    }

  #volver{
        color: #FFF;
       margin-left: 5px;
       text-decoration: none;
       transition: 0.3s;
       margin-top: 30px;
  }

  #volver:hover{
    color: #fff;
    font-size: 17px;
}

#presu-text{
    background-color: #0e135e;
    color: #FFF;
    width: 1100px;
    height: 150px;
    margin: auto;
    margin-top: 120px;
}

#presu-text h2{
    color: #FFF;
    text-align: center;
    padding-top: 100px;
    font-size: 34px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #00be03;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: 0.3s;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #00be03;
    background-color: #fff;
}


.btn-linkedin {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 100px;
    right: 30px;
    background-color: rgb(30, 48, 80);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: 0.3s;
}

.btn-linkedin:hover {
    text-decoration: none;
    color: rgb(30, 48, 80);;
    background-color: #fff;
}
