@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
}

header nav section h1{
    font-size: 28px;
    letter-spacing: 2px;
}

.menu{
    background-color: #fff;
    color: #777;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 3;
}

.menu_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

.menu_links{
    height: 100%;
    transition: transform .5s;
    display: flex;
    z-index: 10;
}

.menu_item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}
    .menu_item:hover{
        --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        --transform: rotate(0);
    }

    .fa-solid{
        transform: var(--transform);
        transition: transform .3s;
        display: block;
        right: 3px;
    }
    
    .menu_link{
        height: 100%;
        display: flex;
        padding: 0 20px;
        align-items: center;
        text-decoration: none;
        color: #14305B;
    }
        .menu_link:hover{
            background-color: #5e7094;
        }

.menu_nesting{
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    height: 200px;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: rgb(255, 255, 255);
    }

.menu_link--inside{
    height: 66px;
    padding: 30px, 100px, 30px, 20px;
}
.menu_link--inside:hover{
    background-color: #5e7094;
}

#logo{
    width: 100px;
    height: 100px;
    display: flex;
}


#banner{
    height: 600px;
    background:
        linear-gradient(rgba(69, 82, 95, 0.578),rgba(9, 21, 34, 0.832)),
        url(banner.jpeg);
        background-size:cover ;
    background-repeat: no-repeat;
    background-position: 0 center;
    display: flex;
    align-items: center;
}

#banner h1{
    color: #fff;
    margin-left: 500px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;;
    margin: auto;
    margin-top: 450px;
}


#revelamiento{
    background-color: #14305B;
    color: #fff;
    border-radius: 30px;
    height: 500px;
    width: 1000px;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0.10, 0.10, 0.55);
    margin-bottom: 200px ;
}

#revelamiento p{
    margin-left: 40px;
    font-size: 25px;
    padding-top: 120px;
}

#revelamiento img{
    float: right;
    margin-top: 73px;
    margin-right: 40px;
    border-radius: 20px;
    width: 350px;

}


#info{
    text-align: center;
    width: 600px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    font-size: 24px;
    color: #14305B;
}



.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #00be03;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
    transition: 0.3s;
}

.btn-wsp:hover{
    text-decoration: none;
    color: #00be03;
    background-color: #fff;
}

#selec h1{
    margin-left: 50px;
    margin-top: 100px;
}

#selec p{
    margin-left: 50px;
}


#selec li{
    margin-left: 53px;
    margin-top: 5px;
}

#par{
    font-size: 18px;
}

#empresas h1{
    margin-left: 50px;
    margin-top: 80px;
}

#empresas p{
    margin-left: 50px;
}

#empresas h4{
    margin-left: 50px;
    margin-top: 20px;
}

#empresas li{
    margin-left: 53px;
    margin-top: 5px;
}

#empresass{
    color: #0f3368;
    padding: 70px;
}

#selec{
    float: left;
    width: 50%;
    height: 500px;
    border-radius: 10px;
}

#empresas{
    float: right;
    width: 50%;
    height: 500px;
    margin-top: 17px;
}

#capac{
    padding: 70px;
    color: #14305B;
    
}


#cap{
    float: left;
    width: 50%;
    height: 500px;
    padding-left: 50px;
}

#ej{
    float: right;
    width: 50%;
    height: 500px;
    margin-top: 50px;
    padding-left: 50px;
}

#capa{
    color: #14305B;
    text-align: center;
}