@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
}

header nav section h1 {
    font-size: 28px;
    letter-spacing: 2px;
}

#logo {
    width: 100px;
    height: 100px;
    display: flex;
}

.menu {
    background-color: #fff;
    color: #777;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 3;
}

.menu_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

.menu_links {
    height: 100%;
    transition: transform .5s;
    display: flex;
    z-index: 10;
}

.menu_item {
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu_item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.fa-solid {
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    right: 3px;
}

.menu_link {
    height: 100%;
    display: flex;
    padding: 0 20px;
    align-items: center;
    text-decoration: none;
    color: #14305B;
}

.menu_link:hover {
    background-color: #5e7094;
}

.menu_nesting {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    height: 200px;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: rgb(255, 255, 255);
}

.menu_nesting2 {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    height: 134px;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: rgb(255, 255, 255);
}

.menu_link--inside {
    height: 66px;
    padding: 30px, 100px, 30px, 20px;
}

.menu_link--inside:hover {
    background-color: #5e7094;
}

.menu_hamburger {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu_img {
    display: block;
    width: 36px;
}

/* ------------------------------------------------------------ */
/* ---------------------- MENU RESPONSIVE --------------------- */
/* ------------------------------------------------------------ */

@media (max-width: 800px) {
    .menu_hamburger {
        display: flex;
    }
    .menu_item{
        --clip: 0;
        overflow: hidden;
    }
    .menu_item--active {
        --transform: rotate(0);
        --background: #5e7094;
    }
    .menu_item--show {
        background-color: var(--background);
    }
    .menu_links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #fff;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }
    .menu_links--show {
        transform: unset;
        width: 100%;
    }
    .menu_link {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }
    .fa-solid {
        margin-left: auto;
        margin-right: 20px;
    }
    .menu_nesting, .menu_nesting2 {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }
    .menu_link--inside {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #5e7094;
    }
}

/* #banner{
    height: 600px;
    background-repeat: no-repeat;
    background-position: 0 center;
    display: flex;
    align-items: center;
    margin-bottom: 62px;
    background:
        linear-gradient(rgba(0, 36, 84, 0.578),rgba(0, 37, 84, 0.578)),
        url(banner.jpeg);
        background-size:cover ;
}

#banner h1{
    color: #fff;
    margin-top: 300px;
    margin-left: 150px;
} */

.header {
    height: 760px;
    display: flex;
    align-items: center;
    color: #fff;
}

.content {
    max-width: 80rem;
    margin-left: 100px;
}

.header-video {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 760px;
    overflow: hidden;
}

.header-video video {
    width: 100%;
}

.header-overlay {
    height: 760px;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .75;
}

.header-content {
    width: 800px;
    z-index: 2;
}

.header-content h1 {
    font-size: 35px;
    letter-spacing: 2px;
}

.header-content .btn {
    background: #2C4C7D;
    color: #fff;
    padding: 10px, 20px;
    text-decoration: none;
    transform: 5;
    margin-left: 2px;
}

.header-content .btn:hover {
    background: #3d66a3;
}


.banner {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#carouselExampleSlidesOnly {
    width: 100%;
    height: 600px;
    margin: auto;
    display: flex;
}

#carouselExampleSlidesOnly img {
    width: 100%;
    height: 600px;
    margin: auto;
    display: flex;
}

.banner-overlay {
    height: 600px;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .80;
}

.header-serv {
    z-index: 2;
    text-align: center;
    margin: auto;
}

.header-serv h1 {
    font-size: 60px;
    letter-spacing: 2px;
}


/* ------------------------------------------------------------ */
/* --------------------- HEADER RESPONSIVE -------------------- */
/* ------------------------------------------------------------ */

@media (max-width: 800px) {
    .header, .content {
        display: flex;
        text-align: center;
    }
    .header-video, .banner {
        max-width: 800px;
        width: 100%;
    }
    .header-overlay, .banner-overlay{
        display: none;
    }
    .header-content h1 {
        max-width: 500px;
        width: 340px;
        font-weight: bold;
        font-size: 20px;
        background-color: rgba(48, 57, 82, 0.807);
        transform: translateY(-200%);
    }
    .header-content .btn {
        transform: translateY(-380%);
    }
    .header-serv h1 {
        font-weight: bold;
        font-size: 50px;
        background-color: rgba(48, 57, 82, 0.807);
        transform: translateY(-120%);
    }
    #carouselExampleSlidesOnly img {
        height: 300px;
    }
    #vision , #mision, #valores {
        display: none;
    }
    footer {
        display: none;
    }
} 


#vision {
    background-color: #2C4C7D;
}

#imagen {
    background-color: transparent;
    float: left;
    width: 50%;
}

#imagen img {
    width: 100%;
    height: 400px;
}

#vision-texto {
    background-color: #2C4C7D;
    float: right;
    width: 50%;
    height: 400px;
}

#vision-texto h2 {
    color: #fff;
    text-align: right;
    margin-top: 100px;
    margin-right: 90px;
    margin-bottom: 20px;
}

#vision-texto p {
    color: #fff;
    text-align: right;
    margin-left: 250px;
    width: 50%;
}


#valores {
    background-color: transparent;
    display: inline-block;
    width: 100%;
}

#valores img {
    float: right;
    width: 50%;
    height: 400px;
}

#valores-texto {
    background-color: #ffffff;
    width: 50%;
    float: left;
    height: 400px;
}

#valores-texto h2 {
    color: #201d4b;
    margin-top: 120px;
    margin-left: 100px;
    margin-bottom: 40px;
}

#valores-texto p {
    color: #16172f;
    margin-left: 100px;
    width: 50%;
}

#mision {
    width: 100%;
    height: 400px;
    margin-top: 260px;
}

#mision h2 {
    text-align: center;
    margin-top: 160px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-bottom: 50px;
}

#mision p {
    width: 40%;
    text-align: center;
    margin: auto;
    font-weight: 300;
}

/* ------------------------------------------------------------ */
/* ---------------------- Seccion CONTACTO -------------------- */
/* ------------------------------------------------------------ */

/* #contacto{
    width: 1250px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    background-color: #14305B;
    border-radius: 8px;
}
#contacto form{
    width: 550px; 
    margin: auto;
}
#contacto form input,
#contacto form textarea{
    width: 100%;
    padding: 8px;
    margin: 8px 0px;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #2C4C7D;
    border: 1px solid #001f5e;
    background-color: #C3DBFF;
    border-radius: 5px;
}
    
#contacto form input::placeholder,
#contacto form textarea::placeholder{
    color: #062a64;
}
#contacto form textarea{
    height: 152px;
    resize: none;
}

#contacto button{
    width: 212px;
    padding: 8px 0px;
    border: 1px solid #2C4C7D;
    border-radius: 8px;
    color: #2C4C7D;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #3c3c3c;
    transition: 500ms;
    cursor: pointer;
    background-color: #C3DBFF;
}

#contacto button:hover{
    color: #C3DBFF;
    background-color: #2C4C7D;
} */

/* ------------------------------------------------------------ */
/* ---------------------- ANIMACIONES POPUP ------------------- */
/* ------------------------------------------------------------ */

.btn-abrir-popup {
    text-decoration: none;
    border: none;
    background: #fff;
}

.overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background-color: #14305B;
    box-shadow: 0px, 0px, 5px, 0px, rgba(0, 0, 0, .3);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 800px;
    transition: .5s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup.active {
    opacity: 1;
    transform: scale(1);
}

.popup .btn-cerrar-popup {
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3 ease all;
}

.popup .btn-cerrar-popup .fa-xmark {
    --transform: rotate(0);
}

.popup .btn-cerrar-popup:hover {
    color: #000000;
}

.popup h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    opacity: 0;
}

.popup.active h3 {
    animation: entradaTitulo .8s ease .3s forwards;
}

@keyframes entradaTitulo {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.popup h4 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    opacity: 0;
}

.popup.active h4 {
    animation: entradaSubTitulo .8s ease .3s forwards;
}

@keyframes entradaSubTitulo {
    from {
        transform: translateY(25px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.popup form .container-inputs {
    opacity: 0;
}

.popup form .container-inputs input,
textarea {
    width: 100%;
    height: 52px;
    line-height: 52px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    color: #2C4C7D;
    border: 1px solid #001f5e;
    background-color: #C3DBFF;
    border-radius: 5px;
}

.popup form textarea {
    height: 152px;
    resize: none;
}

.popup.active .container-inputs {
    animation: entradaInputsTextarea 1s ease 1s forwards;
}

@keyframes entradaInputsTextarea {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.popup form button {
    padding: 0px, 20px;
    width: 212px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #2C4C7D;
    background-color: #C3DBFF;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;

}

.popup form button:hover {
    color: #C3DBFF;
    background-color: #2C4C7D;
}


#mensajes {
    margin-top: 12px;
}

#mensajes span {
    display: block;
    font-size: 18px;
    color: #2C4C7D;
}

#mensaje {
    display: block;
    margin: auto;
    color: #2C4C7D;
    font-size: 20px;
}

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #00be03;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: 0.3s;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #00be03;
    background-color: #fff;
}


/* ------------------------------------------------------------ */
/* ----------------------- Seccion Footer --------------------- */
/* ------------------------------------------------------------ */

footer {
    width: 1300px;
    height: 300px;
    background: #fff;
    margin: auto;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

#footer-content {
    width: 100%;
    height: 250px;
    margin-top: 90px;
}

#redes {
    background-color: #ededed;
    float: left;
    width: 400px;
    height: 275px;
    color: #000000;
    padding-top: 80px;
}

#redes-sociales a {
    text-decoration: none;
    width: 20px;
    height: 16px;
    margin: 0px 20px;
    padding: 22px;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
}

#redes-sociales a:hover {
    color: #567cb6
}

.fa-brands,
.fa-at {
    font-size: 24px;
    margin: 8px;
}


#redes h3 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#text {
    background-color: #2C4C7D;
    height: 275px;
    color: #ffffff;
    padding-top: 60px;
}

#text h1 {
    display: flex;
    justify-content: center;
}

#redes .fa-brands {
    color: #000000;
    margin-left: 20px;
}

#text a {
    margin-left: 50px;
    color: #fff;
    margin-top: 50px;
}

#redes .fa-linkedin {
    float: right;
    margin-right: 160px;
    margin-top: 30px;
    font-size: 20px;
}

#redes .fa-instagram {
    padding-left: 130px;
    margin-top: 30px;
    font-size: 20px;
}

.fa-regular {
    float: right;
    margin-right: 100px;
    margin-top: 50px;
    font-size: 15px;
}


#text .fa-brands {
    margin-top: 50px;
    margin-left: 100px;
}




/* ------------------------------------------------------------ */
/* --------------------- Seccion TECNOLOGIAS ------------------ */
/* ------------------------------------------------------------ */

#tcn {
    width: 100%;
    height: 500px;
    margin-top: 100px;
}

#tcn h1 {
    text-align: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 70px;
}

#tcn p {
    width: 50%;
    margin: auto;
    text-align: justify;
}

.text_item {
    width: 40%;
    text-align: justify;
}


/* ------------------------------------------------------------ */
/* --------------------- Seccion INDIVIDUOS ------------------- */
/* ------------------------------------------------------------ */

#one {
    width: 100%;
    height: 500px;
    margin-top: 100px;
}

#one h2 {
    text-align: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 70px;
}

#one p {
    width: 50%;
    margin: auto;
    text-align: justify;
}

#exaples_item {
    width: 100%;
    height: 800px;
    display: flex;
}

.content_item {
    width: 100%;
    height: 300px;
    display: flex;
    background: #fff;
}

.img {
    background-color: transparent;
    float: left;
    width: 50%;
}

.img img {
    width: 50%;
    height: 200px;
    margin-left: 200px;
}


/* ------------------------------------------------------------ */
/* --------------------- Seccion INDIVIDUOS ------------------- */
/* ------------------------------------------------------------ */

.header-banner {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 760px;
    overflow: hidden;
}

.header-banner img {
    width: 100%;
}

.header-overlay {
    height: 760px;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .75;
}

.header-content2 {
    z-index: 2;
}

.header-content2 h1 {
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: 350px;
    margin-left: 100px;
}

.btn {
    background: #2C4C7D;
    color: #fff;
    padding: 10px, 20px;
    margin-left: 100px;
    text-decoration: none;
    transform: 5;
}

.btn:hover {
    background: #669cc5;
}


/* ------------------------------------------------------------ */
/* ---------------------- TESTIMONIOS ------------------------- */
/* ------------------------------------------------------------ */

#banner img {
    width: 100%;
}

#testi- {
    background-color: #ffffff;
    height: 300px;
    width: 1000px;
    margin: auto;
    border-radius: 20px;

}

#testi- p {
    text-align: center;
    color: #000000;
    font-size: 23px;
    margin-top: 80px;
    padding-top: 100px;
    font-size: 27px;
}


.carousel img {
    width: 200px;
    height: 200px;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 70%;
    margin: 100px auto;
}

.carousel button {
    width: 50px;
    height: 50px;
    margin-bottom: 900px;
}

.carousel-images {
    display: flex;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    height: 300px;
    margin-top: 20px;


}

.carousel-images img {
    width: 30%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    border-radius: 8px;

}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 4rem;
    cursor: pointer;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}



.carousel-button-prev {
    left: 0;
    padding-bottom: 170px;
}

.carousel-button-next {
    right: 0;
    padding-bottom: 180px;

}





/* Lista de empresas
    -espacio para la libertad
    -fundacion pescar
    -grif
    -merisant
    -monsanto
    -RadaNet
    -Toyota
    -DESCARGAR LOGOS DE LA SEMPRESAS QUE
*/


#libertad {
    background-color: #14305B;
    color: #fff;
    border-radius: 30px;
    height: 500px;
    width: 1000px;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0.10, 0.10, 0.55);

}

#libertad p {
    margin-left: 40px;
    font-size: 25px;
    padding-top: 120px;
}

#libertad img {
    float: right;
    margin-top: 73px;
    margin-right: 40px;
    border-radius: 20px;
    width: 350px;

}


#pescar {
    background-color: #14305B;
    color: #fff;
    border-radius: 30px;
    height: 500px;
    width: 1000px;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0.10, 0.10, 0.55);

}

#pescar p {
    margin-left: 40px;
    font-size: 25px;
    padding-top: 120px;
}

#pescar img {
    float: right;
    margin-top: 150px;
    margin-right: 40px;
    border-radius: 20px;
    width: 350px;

}


#greif {
    background-color: #14305B;
    color: #fff;
    border-radius: 30px;
    height: 500px;
    width: 1000px;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0.10, 0.10, 0.55);

}

#greif p {
    margin-left: 40px;
    font-size: 25px;
    padding-top: 120px;
}

#greif img {
    float: right;
    margin-top: 150px;
    margin-right: 40px;
    border-radius: 20px;
    width: 350px;

}


#meri {
    background-color: #14305B;
    color: #fff;
    border-radius: 30px;
    height: 500px;
    width: 1000px;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0.10, 0.10, 0.55);

}

#meri p {
    margin-left: 40px;
    font-size: 25px;
    padding-top: 120px;
}

#meri img {
    float: right;
    margin-top: 136px;
    margin-right: 40px;
    border-radius: 20px;
    width: 350px;

}

#monsanto {
    background-color: #14305B;
    color: #fff;
    border-radius: 30px;
    height: 500px;
    width: 1000px;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0.10, 0.10, 0.55);

}

#monsanto p {
    margin-left: 40px;
    font-size: 25px;
    padding-top: 120px;
}

#monsanto img {
    float: right;
    margin-top: 136px;
    margin-right: 40px;
    border-radius: 20px;
    width: 350px;

}

#rada {
    background-color: #14305B;
    color: #fff;
    border-radius: 30px;
    height: 500px;
    width: 1000px;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0.10, 0.10, 0.55);

}

#rada p {
    margin-left: 40px;
    font-size: 25px;
    padding-top: 120px;
}

#rada img {
    float: right;
    margin-top: 190px;
    margin-right: 40px;
    border-radius: 20px;
    width: 350px;

}

#toyota {
    background-color: #14305B;
    color: #fff;
    border-radius: 30px;
    height: 500px;
    width: 1000px;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0.10, 0.10, 0.55);

}

#toyota p {
    margin-left: 40px;
    font-size: 25px;
    padding-top: 120px;
}

#toyota img {
    float: right;
    margin-top: 130px;
    margin-right: 40px;
    border-radius: 20px;
    width: 350px;

}