@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
}

header nav section h1{
    font-size: 28px;
    letter-spacing: 2px;
}

#logo{
    width: 100px;
    height: 100px;
    display: flex;
}
.logo{
    left: 0;
}

.menu{
    background-color: #fff;
    color: #777;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 3;
}

.menu_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

.menu_links{
    height: 100%;
    transition: transform .5s;
    display: flex;
    z-index: 10;
}

.menu_item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}
    .menu_item:hover{
        --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        --transform: rotate(0);
    }

    .fa-solid{
        transform: var(--transform);
        transition: transform .3s;
        display: block;
        right: 3px;
    }
    
    .menu_link{
        height: 100%;
        display: flex;
        padding: 0 20px;
        align-items: center;
        text-decoration: none;
        color: #14305B;
    }
        .menu_link:hover{
            background-color: #5e7094;
        }

.menu_nesting{
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    height: 200px;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: rgb(255, 255, 255);
    }

    .menu_nesting2{
        list-style: none;
        transition: clip-path .3s;
        clip-path: var(--clip);
        position: absolute;
        height: 134px;
        right: 0;
        bottom: 0;
        width: max-content;
        transform: translateY(100%);
        background-color: rgb(255, 255, 255);
        }

.menu_link--inside{
    height: 66px;
    padding: 30px, 100px, 30px, 20px;
}
.menu_link--inside:hover{
    background-color: #5e7094;
}



/* #banner{
    height: 600px;
    background-repeat: no-repeat;
    background-position: 0 center;
    display: flex;
    align-items: center;
    margin-bottom: 62px;
    background:
        linear-gradient(rgba(0, 36, 84, 0.578),rgba(0, 37, 84, 0.578)),
        url(banner.jpeg);
        background-size:cover ;
}

#banner h1{
    color: #fff;
    margin-top: 300px;
    margin-left: 150px;
} */

.header{
    height: 760px;
    display: flex;
    align-items: center;
    color: #fff;
}

.content{
    max-width: 80rem;
    margin-left: 100px;
}

.header-video{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 760px;
    overflow: hidden;
}
    .header-video video{
        width: 100%;
    }

.header-overlay{
    height: 760px;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .75;
}

.header-content{
    z-index: 2;
}
    .header-content h1{
        font-size: 35px;
        letter-spacing: 2px;
        margin-top: 180px;
    }

.btn{
    background: #2C4C7D;
    color: #fff;
    padding: 10px, 20px;
    text-decoration: none;
    transform: 5;
}
    .btn:hover{
        background: #669cc5;
    }


.banner{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#carouselExampleSlidesOnly{
    width: 100%;
    height: 600px;
    margin: auto;
    display: flex;
}
    #carouselExampleSlidesOnly img{
        width: 100%;
        height: 600px;
        margin: auto;
        display: flex;
    }

.banner-overlay{
    height: 600px;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .80;
}

.header-serv{
    z-index: 2;
}
    .header-serv h1{
        font-size: 60px;
        letter-spacing: 2px;
        margin-top: 240px;
        margin-left: 550px;
    }

#vision{
    background-color: #2C4C7D;
}

#imagen {
    background-color: transparent;
    float: left;
    width: 50%;
}

#imagen img{
    width: 100%;
    height: 400px;
}

#vision-texto{
    background-color: #2C4C7D;
    float: right;
    width: 50%;
    height: 400px;
}

#vision-texto h1{
    color: #fff;
    text-align: right;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
}

#vision-texto p{
    color: #fff;
    text-align: right;
    margin-left: 50px;
    margin-right: 50px;
}


#valores {
    background-color:transparent;
    display: inline-block;
    width: 100%;
}

#valores img{
    float: right;
    width: 50%;
    height: 400px;
}

#valores-texto{
    background-color: #ffffff;
    width: 50%;
    float: left;
    height: 400px;
}

#valores-texto h1{
    color: #2C4C7D;
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 40px;
}

#valores-texto p{
    color: #000000;
    margin-left: 50px;
}

#mision{
    width: 100%;
    height: 500px;
    margin-top: 260px;
}

#mision h1{
    text-align: center;
    margin-top: 160px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 70px;
}

#mision p{
    text-align: center;
}

/* ------------------------------------------------------------ */
/* ---------------------- Seccion CONTACTO -------------------- */
/* ------------------------------------------------------------ */

/* #contacto{
    width: 1250px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    background-color: #14305B;
    border-radius: 8px;
}
#contacto form{
    width: 550px; 
    margin: auto;
}
#contacto form input,
#contacto form textarea{
    width: 100%;
    padding: 8px;
    margin: 8px 0px;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #2C4C7D;
    border: 1px solid #001f5e;
    background-color: #C3DBFF;
    border-radius: 5px;
}
    
#contacto form input::placeholder,
#contacto form textarea::placeholder{
    color: #062a64;
}
#contacto form textarea{
    height: 152px;
    resize: none;
}

#contacto button{
    width: 212px;
    padding: 8px 0px;
    border: 1px solid #2C4C7D;
    border-radius: 8px;
    color: #2C4C7D;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #3c3c3c;
    transition: 500ms;
    cursor: pointer;
    background-color: #C3DBFF;
}

#contacto button:hover{
    color: #C3DBFF;
    background-color: #2C4C7D;
} */

/* ------------------------------------------------------------ */
/* ---------------------- ANIMACIONES POPUP ------------------- */
/* ------------------------------------------------------------ */

.btn-abrir-popup{
    text-decoration: none;
    border: none;
    background: #fff;
}

.overlay{
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
    .overlay.active{
        visibility: visible;
    }

.popup{
    background-color: #14305B;
    box-shadow: 0px, 0px, 5px, 0px, rgba(0,0,0,.3);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 800px;
    transition: .5s ease all;
    transform: scale(0.7);
    opacity: 0;
}
    .popup.active{
        opacity: 1;
        transform: scale(1);
    }
.popup .btn-cerrar-popup{
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3 ease all;
}
.popup .btn-cerrar-popup .fa-xmark{
    --transform: rotate(0);
}
.popup .btn-cerrar-popup:hover{
    color: #000000;
}
.popup h3{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    opacity: 0;
}
    .popup.active h3{
        animation: entradaTitulo .8s ease .3s forwards;
    }
        @keyframes entradaTitulo{
            from{
                transform: translateY(-25px);
                opacity: 0;
            }
            to{
                transform: translateY(0);
                opacity: 1;
            }
        }
.popup h4{
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    opacity: 0;
}
    .popup.active h4{
        animation: entradaSubTitulo .8s ease .3s forwards;
    }
    @keyframes entradaSubTitulo{
        from{
            transform: translateY(25px);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }

.popup form .container-inputs{
    opacity: 0;
}
.popup form .container-inputs input, 
textarea{
    width: 100%;
    height: 52px;
    line-height: 52px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    color: #2C4C7D;
    border: 1px solid #001f5e;
    background-color: #C3DBFF;
    border-radius: 5px;
}
.popup form textarea{
    height: 152px;
    resize: none;
}
    .popup.active .container-inputs{
        animation: entradaInputsTextarea 1s ease 1s forwards;
    }
    @keyframes entradaInputsTextarea{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

.popup form button{
    padding: 0px, 20px;
    width: 212px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #2C4C7D;
    background-color: #C3DBFF;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;

}
    .popup form button:hover{
        color: #C3DBFF;
        background-color: #2C4C7D;
    }


#mensajes{
    margin-top: 12px;
}

#mensajes span{
    display: block;
    font-size: 18px;
    color: #2C4C7D;
}

#mensaje{
    display: block;
    margin: auto;
    color: #2C4C7D;
    font-size: 20px;
}

.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #00be03;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
    transition: 0.3s;
}

.btn-wsp:hover{
    text-decoration: none;
    color: #00be03;
    background-color: #fff;
}

footer{
    width: 1300px;
    height: 300px;
    background: #fff;
    margin: auto;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}
#footer-content{
    width: 100%;
    height: 250px;
    margin-top: 90px;
}

#redes{
    background-color: #ededed;
    float: left;
    width: 400px;
    height: 275px;
    color: #000000;
    padding-top: 80px;
}

#redes h3{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#text{
    background-color: #2C4C7D;
    height: 275px;
    color: #ffffff;
    padding-top: 60px;
}

#text h1{
    display: flex;
    justify-content: center;
}

#redes .fa-brands{
    color: #000000;
    margin-left: 20px;
}

#text a{
    margin-left: 50px;
    color: #fff;
    margin-top: 50px;
}

#redes .fa-linkedin{
    float: right;
    margin-right: 160px;
    margin-top: 30px;
    font-size: 20px;
}

#redes .fa-instagram{
    padding-left: 130px;
    margin-top: 30px;
    font-size: 20px;
}

.fa-regular {
    float: right;
    margin-right: 100px;
    margin-top: 50px;
    font-size: 15px;
}


#text .fa-brands{
    margin-top: 50px;
    margin-left: 100px;
}



 /* 
 #redes-sociales{
    margin-left: 60px;
    display: inline-block;
}
    #redes-sociales a{
    width: 20px;
    height: 16px;
    margin: 0px 20px;
    padding: 22px;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
}
    #redes-sociales a:hover{
        color: #567cb6
    }
    .fa-brands{
        font-size: 24px;
        margin: 8px;
    }

#text{
    font-size: 20px;
    color: #fff;
}
    #text h2{
        margin-left: 60px;
        padding: 20px;
    }

*/

/* ------------------------------------------------------------ */
/* --------------------- Seccion TECNOLOGIAS ------------------ */
/* ------------------------------------------------------------ */

    #tcn{
        width: 100%;
        height: 500px;
        margin-top: 100px;
    }
    
    #tcn h1{
        text-align: center;
        margin-top: 100px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        margin-bottom: 70px;
    }
    
    #tcn p{
        text-align: center;
    }


/* ------------------------------------------------------------ */
/* --------------------- Seccion INDIVIDUOS ------------------- */
/* ------------------------------------------------------------ */

    #one{
        width: 100%;
        height: 500px;
        margin-top: 100px;
    }
    
    #one h1{
        text-align: center;
        margin-top: 100px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        margin-bottom: 70px;
    }
    
    #one p{
        text-align: center;
    }

#exaples_item{
    width: 100%;
    height: 800px;
    display: flex;
}

.content_item{
    width: 100%;
    height: 300px;
    display: flex;
    background: #fff;
}

.img{
    background-color: transparent;
    float: left;
    width: 50%;
}
    .img img{
        width: 50%;
        height: 200px;
        margin-left: 200px;
    }


/* ------------------------------------------------------------ */
/* --------------------- Seccion INDIVIDUOS ------------------- */
/* ------------------------------------------------------------ */

.header-banner{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 760px;
    overflow: hidden;
}
    .header-banner img{
        width: 100%;
    }
    
    .header-overlay{
        height: 760px;
        width: 100%;
        position: absolute;
        top: 100px;
        left: 0;
        background: #303952;
        z-index: 1;
        opacity: .75;
    }
    
    .header-content2{
        z-index: 2;
    }
        .header-content2 h1{
            font-size: 35px;
            letter-spacing: 2px;
            margin-top: 350px;
            margin-left: 100px;
        }
    
    .btn{
        background: #2C4C7D;
        color: #fff;
        padding: 10px, 20px;
        margin-left: 100px;
        text-decoration: none;
        transform: 5;
    }
        .btn:hover{
            background: #669cc5;
        }