<section class="header">
    <div class="banner">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="Img/woman.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="Img/startup.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="Img/laptops.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="banner-overlay"></div>
    <div class="header-serv">
        <h1>Nuestros <strong>Servicios</strong></h1>
    </div>
</section>

<section id="one">
    <h2>Nuestros <br> Servicios <strong>Individuales</strong></h2>
    <p>
        En Agile Minds generamos soluciones a la medida de tu necesidad. Nos enfocamos en brindarte la mejor
        <strong>orientacion y capacitacion personalizada</strong>, para que puedas llegar a tu meta personal.
        Estamos capacitados para apoyarte en el camino con tecnicas que te ayudaran a destacar personal y
        profecionalmente.
    </p>
</section>
<article class="content_item">
    <div class="img">
        <img src="/img/orientacion.jpg">
    </div>
    <div class="text_item">
        <h2>Orientación vocacional</h2>
        <p>
            Contamos con la capacidad y el conocimiento para ayudarte. A traves de proceso psicológico y
            pedagógico te ayudamos para que encuentres una profecion en concreto. <strong>¿Si queres saber más
                contactanos?</strong>
        </p>
        <a href="#" class="btn">Consultanos </a>
    </div>
</article>
<article class="content_item">
    <div class="img">
        <img src="Img/resumen.jpg">
    </div>
    <div class="text_item">
        <h2>Armado de C.V</h2>
        <p>
            Desde el concepto basico hasta la creacion final de tu hoja de vida profecional. Te guiamos en los
            pasos y tecnicas que necesitas para crear un CV profecional que te <strong>ayude a
                destacar.</strong>
        </p>
        <a href="#" class="btn">Consultanos</a>
    </div>
</article>
<article class="content_item">
    <div class="img">
        <img src="Img/keyboard.jpg">
    </div>
    <div class="text_item">
        <h2>Guía en Búsqueda de Empleo</h2>
        <p>
            Desde identifica los puestos de trabajo que puedes o quieres desempeñar, identifica posibles
            empresas definir una estrategia eficaz, comprender el mercado laboral y definir sus objetivos, le
            ayudamos a <strong>encontrar y conseguir el puesto de trabajo que desee.</strong>
        </p>
        <a href="#" class="btn">Consultanos</a>
    </div>
</article>
<article class="content_item">
    <div class="img">
        <img src="Img/woman-5678999_1280.jpg">
    </div>
    <div class="text_item">
        <h2>Herramientas de Desarrollo <br> Personal & Profecional</h2>
        <p>
            A traves de tecnicas y capacitaciones, te presentaremos y te ayudaremos a comprender diferentes
            metodos que te ayudaran a desarrollarte en el <strong>ambito personal y profecional.</strong>
        </p>
        <a href="#" class="btn">Consultanos</a>
    </div>
</article>
<article class="content_item">
    <div class="img">
        <img src="Img/consulting.jpg">
    </div>
    <div class="text_item">
        <h2>Coaching para Líderes</h2>
        <p>
            El coaching de liderazgo es necesario para quienes tienen colaboradores a cargo. A través de
            distintas técnicas el coach ayuda al coachee a reconocer las fortalezas, aspectos a mejorar y
            motivacion de los miembros del equipo para ayudar a cada individuo a mejorar, asi como tambien a él
            mismo desarrollando sus habilidades de liderazgo. De ésta forma los equipos se volveran <strong>mas
                eficientes y orientados a resultados.</strong>
        </p>
        <a href="#" class="btn">Consultanos</a>
    </div>
</article>