<section class="header content">
    <div class="header-video">
        <video src="Videos/nina-27093.mp4" muted autoplay loop></video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content">
        <h1>Si buscás agilidad y excelencia, encontraste el lugar indicado.</h1>
        <a href="#" class="btn">Solicita tu Presupuesto</a>
    </div>
</section>

<main>
    <section id="mision">
        <h2>¿Cuál es <strong>Nuestra Misión</strong>?</h2>
        <p>
            Somos un equipo interdisciplinario que combina soluciones ágiles de recursos humanos y tecnológicas,
            destinado a equipos de trabajo de empresas e individuos. Nos dedicamos a brindar capacitaciones, servicio de
            mentorías y selección de personal con el fin de contribuir al crecimiento de las organizaciones asegurando
            la mejora de procesos y garantizando la eficiencia del talento humano.
        </p>
    </section>
    <section id="vision-valores">
        <div id="vision">
            <div id="imagen">
                <img src="Img/vision.jpg" alt="">
            </div>
            <div id="vision-texto">
                <h2>Nuestra <strong>Visión</strong></h2>
                <p>
                    Nuestro enfoque humanístico y ético se dirige a promover la excelencia de las organizaciones e
                    individuos logrando resultados que no han conseguido con anterioridad
                </p>
            </div>
        </div>
    </section>
    <section id="valores-vision">
        <div id="valores">
            <div id="imagen-valores">
                <img src="img/valores.jpg" alt="">
            </div>
            <div id="valores-texto">
                <h2>Nuestros <strong>Valores</strong></h1>
                    <p>
                        Trabajo en equipo, ética profesional, mejora continua, respeto, integridad, confianza y
                        excelencia
                    </p>
            </div>
        </div>
    </section>
    <a href="https://api.whatsapp.com/send?phone=" class="btn-wsp" target="_blank">
        <i class="fa-brands fa-whatsapp"></i>
    </a>
    <a href="#" class="btn-linkedin">
        <i class="fa-brands fa-linkedin-in"></i>
    </a>
</main>
<footer>
    <section id="footer-content">
        <div id="redes">
            <h3>Seguinos en nuestras redes</h3>
            <a href="#">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div id="text">
            <h1>Agile Minds</h1>
            <a href="#">
                <i class="fa-brands fa-whatsapp"> 3489500063 </i>
            </a>
            <a href="#">
                <i class="fa-regular fa-envelope"> ejemplo@gmail.com </i>
            </a>
        </div>
    </section>
</footer>