<section class="header content">
    <div class="header-banner">
        <img src="/img/banner.jpeg">
    </div>
    <div class="header-overlay"></div>
    <article class="header-content">
        <div class="textos">
            <h1 class="titulo">Agile Minds</h1>
            <h3 class="subtitulo">
                Agilidad y excelencia.
            </h3>
            <a href="#" class="btn">Consultanos</a>
        </div>
    </article>
</section>

<section class="abaut">
    <article>
        <h2>Sobre <strong>Nosotros</strong></h2>
        <div>
            <p>
                Somos un equipo interdisciplinario que combina soluciones ágiles de recursos humanos y tecnológicas,
                destinado a equipos de trabajo de empresas e individuos. Nos dedicamos a brindar capacitaciones,
                servicio de mentorías y selección de personal con el fin de
                contribuir al crecimiento de las organizaciones asegurando la mejora de procesos y garantizando la
                eficiencia del talento humano.
            </p>
        </div>
    </article>
    <img class="img" src="/img/Team work_Isometric.svg" style="float: right; width: 500px; height: 500px;">
</section>

<section id="equipo">
    <article class="eqp">
        <div class="img-eqp">
            <img src="/img/Businesswoman_Isometric.svg">
        </div>
        <div class="txt">
            <h2><strong>CEO -</strong> Lucía Cardade Favre:</h2>
            <p>
                Lic. En Recursos Humanos y Profesora Universitaria con diploma de honor, reconocimiento al mérito académico por obtener uno de los mejores promedios de la carrera.
                Formada en Neurociencias del aprendizaje aplicado a individuos y equipos de trabajo, con 14 años de experiencia trabajando en organizaciones multinacionales y nacionales en distintos sectores de trabajo. Compras nacionales e internacionales, Comercio Exterior, Relaciones Públicas, Seguridad e Higiene, Responsable de Recursos Humanos, llevando a cabo todas las funciones hard &
                soft.
            </p>
        </div>
    </article>
    <div id="logros">
        <p>
            <i class="fa-solid fa-award"></i>
            Reconocimiento al desempeño, siendo elegida como tallerista destacada sobre la temática “Stand Up”
            contra el acoso callejero, promovido por Fundación Pescar, L’Oreal París y Right to be (ONG de USA)
            (Más
            de 5000 personas capacitadas en 2 años)
        </p>
        <p>
            <i class="fa-solid fa-sitemap"></i>
            Seleccionada como formadora de formadores por Toyota y CFL 402 de la localidad de Escobar (300
            Docentes
            de la Pcia. De Buenos Aires, año 2020) en temática de Relaciones Laborales.
        </p>
        <p>
            <i class="fa-solid fa-chart-column"></i>
            Reducción de indicadores de ausentismo y rotación de personal alcanzando un 50% en Toyota y Greif
            Argentina.
        </p>
        <p>
            <i class="fa-solid fa-users"></i>
            Diseño e implementación de comedores industriales, procesos de gestión del desempeño, capacitaciones
            y
            reconocimientos a empleados en distintas organizaciones.
        </p>
    </div>

    <article class="eqp2">
        <div class="txt2">
            <h2><strong>Director General -</strong> Jonás Ezequiel Pérez Leonardi:</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam consectetur sint harum, amet
                voluptate, temporibus assumenda inventore quae architecto quidem repellat corporis mollitia ad!
                Ab reiciendis dignissimos laboriosam sit odio!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit iusto ea accusantium suscipit
                earum ab eos iste ut quisquam laborum!
            </p>
        </div>
        <div class="img-eqp2">
            <img src="/img/Businessman _Isometric.svg" alt="">
        </div>
    </article>
</section>
<section class="empresas">
    <h3> Quienes confian en Nuestros Servicios</h3>
    <article class="slaider">
        <div class="slaide-track">
            <div class="slaide">
                <img src="/img/logos-empresas/Espacio para la libertad.jpg" alt="">
            </div>
            <div class="slaide">
                <img src="/img/logos-empresas/Fundación Pescar.jpg" alt="">
            </div>
            <div class="slaide">
                <img src="/img/logos-empresas/Greif.jpg" alt="">
            </div>
            <div class="slaide">
                <img src="/img/logos-empresas/Merisant.jpg" alt="">
            </div>
            <div class="slaide">
                <img src="/img/logos-empresas/Monsanto.jpg" alt="">
            </div>
            <div class="slaide">
                <img src="/img/logos-empresas/RadaNet.jpg" alt="">
            </div>
            <div class="slaide">
                <img src="/img/logos-empresas/Toyota logo.jpg" alt="">
            </div>
            <div class="slaide">
                <img src="/img/logos-empresas/WhatsApp Image 2023-03-19 at 15.39.39.jpeg" alt="">
            </div>

            <div class="slaide">
                <img src="/img/logos-empresas/Espacio para la libertad.jpg" alt="">
            </div>
            <div class="slaide">
                <img src="/img/logos-empresas/Fundación Pescar.jpg" alt="">
            </div>
            <div class="slaide">
                <img src="/img/logos-empresas/Greif.jpg" alt="">
            </div>
            <div class="slaide">
                <img src="/img/logos-empresas/Merisant.jpg" alt="">
            </div>
            <div class="slaide">
                <img src="/img/logos-empresas/Monsanto.jpg" alt="">
            </div>
            <div class="slaide">
                <img src="/img/logos-empresas/RadaNet.jpg" alt="">
            </div>
            <div class="slaide">
                <img src="/img/logos-empresas/Toyota logo.jpg" alt="">
            </div>
            <div class="slaide">
                <img src="/img/logos-empresas/WhatsApp Image 2023-03-19 at 15.39.39.jpeg" alt="">
            </div>
        </div>
    </article>
</section>