
<form style="margin-top: 100px;" action="/save" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Ingrese titulo">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Descripcion</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Ingrese la descripcion del puesto">
    </div>
    <button class="btn btn-success">Crear</button>
</form>